@import url("../gtk-3.0/noctalia.css");

window#osd {
  border-radius: 0;
  border: none;
  background: alpha(@window_bg_color, 0.85);
  min-width: 160px;
}

window#osd #container {
  margin: 4px 8px;
}

window#osd label {
  color: @window_fg_color;
}

window#osd image {
  -gtk-icon-size: 0;
  min-width: 0;
  min-height: 0;
  margin: 0 -32px 0 -32px;
  padding: 0;
  opacity: 0;
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar,
window#osd segmentedprogress {
  min-height: 2px;
  min-width: 200px;
  border-radius: 0;
  background: transparent;
  border: none;
}

window#osd trough,
window#osd segment {
  min-height: inherit;
  border-radius: 0;
  border: none;
  background: alpha(@accent_color, 0.35);
}

window#osd progress,
window#osd segment.active {
  min-height: inherit;
  border-radius: 0;
  border: none;
  background: @accent_color;
}

window#osd segment {
  margin-left: 6px;
}

window#osd segment:first-child {
  margin-left: 0;
}
