layout {

    focus-ring {
        active-color   "#4cd9e2"
        inactive-color "#101414"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#4cd9e2"
        inactive-color "#101414"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#4cd9e2"
        inactive-color "#004f54"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#4cd9e280"
    }
}

recent-windows {
    highlight {
        active-color "#4cd9e2"
        urgent-color "#ffb4ab"
    }
}
