layout {

    focus-ring {
        active-color   "#c4ce5d"
        inactive-color "#14140f"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#c4ce5d"
        inactive-color "#14140f"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#c4ce5d"
        inactive-color "#454b00"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#c4ce5d80"
    }
}

recent-windows {
    highlight {
        active-color "#c4ce5d"
        urgent-color "#ffb4ab"
    }
}
