layout {

    focus-ring {
        active-color   "#a9d292"
        inactive-color "#11140f"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#a9d292"
        inactive-color "#11140f"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#a9d292"
        inactive-color "#2c4f1d"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#a9d29280"
    }
}
