* {
    font:                        "JetBrainsMono Nerd Font 11";
    background-color:            #272e33;
    text-color:                  #d3c6aa;
    border-color:                #374145;
    selected-normal-background:  #2e383c;
    selected-normal-foreground:  #a7c080;
    normal-background:           #272e33;
    normal-foreground:           #d3c6aa;
}

window {
    width:              900px;
    border:             2px solid;
    border-color:       #374145;
    border-radius:      8px;
    padding:            12px;
    background-color:   #272e33;
}

mainbox {
    spacing:            0;
    children:           [ inputbar, listview ];
}

inputbar {
    padding:            8px 12px;
    margin:             0 0 10px 0;
    background-color:   #2e383c;
    border-radius:      6px;
    children:           [ prompt, entry ];
}

prompt {
    text-color:         #a7c080;
    padding:            0 8px 0 0;
}

entry {
    text-color:         #d3c6aa;
    placeholder:        "Switch profile…";
    placeholder-color:  #414b50;
}

listview {
    columns:            3;
    lines:              2;
    spacing:            10px;
    fixed-height:       false;
    scrollbar:          false;
}

element {
    orientation:        vertical;
    padding:            10px;
    spacing:            8px;
    border-radius:      6px;
    background-color:   #2e383c;
    cursor:             pointer;
}

element selected {
    background-color:   #374145;
    border:             2px solid;
    border-color:       #a7c080;
}

element-icon {
    size:               160px;
    border-radius:      4px;
    horizontal-align:   0.5;
}

element-text {
    horizontal-align:   0.5;
    vertical-align:     0.5;
    text-color:         inherit;
    font:               "JetBrainsMono Nerd Font 12";
}
