:root[remotecontrol] .urlbar-background {
    background-image: none !important;
    background-color: var(--toolbar-field-background-color, transparent) !important;
    animation: none !important;
}

#remote-control-box {
    display: none !important;
    visibility: hidden !important;
    width: 0px !important;
}

:root {
    --remote-control-share-color: transparent !important;
    --remote-control-bgcolor: transparent !important;
}
