:root {
    --remote-control-share-color: transparent !important;
    --remote-control-bgcolor: transparent !important;
}

#navigator-toolbox[remotecontrol="true"] {
    background-image: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
    border-bottom: none !important;
}

#remote-control-icon,
.notificationbox-stack[label="Remote Control"] {
    display: none !important;
}
